<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Juan" connectionString="Server=DESKTOP-GHDNHCK\SQLEXPRESS;Database=IngenieriaSoftware;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Juan" connectionString="Server=DESKTOP-GHDNHCK\SQLEXPRESS;Database=DBIngenieriaSoftware;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DebugMode" value="S" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Configuraciones de Directorios -->
    <add key="DirectorioBase" value="C:\CheeseLogix" />
    <add key="DirectorioExportaciones" value="C:\CheeseLogix\Reporteria" />
    <add key="DirectorioFacturas" value="C:\CheeseLogix\Facturas" />
    <add key="DirectorioBackups" value="C:\CheeseLogix\Backups" />
    <add key="DirectorioFirmas" value="C:\CheeseLogix\FirmadoConforme" />
    <add key="DirectorioDocumentacion" value="C:\CheeseLogix\Documentacion" />
    <!-- Configuraciones de Archivos -->
    <add key="ManualUsuarioPDF" value="Manual_Usuario_CheeseLogix.pdf" />
    <!-- Configuraciones de Reportes -->
    <add key="ReporteVentasRDLC" value="CheeseLogix.Negocio.Reportes.ReporteVentas.rdlc" />
    <add key="ReporteVentasRDLCPath" value="Negocio\Reportes\ReporteVentas.rdlc" />
    <add key="PrefijoPDFReporte" value="Reporte_CheeseLogix" />
    <add key="PrefijoExcelReporte" value="Reporte_CheeseLogix" />
    <!-- Configuraciones de Facturas -->
    <add key="PrefijoFactura" value="Factura_CheeseLogix" />
    <add key="FormatoNumeroFactura" value="D6" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>