<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="MaterialDesignColors" version="3.1.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.1.0" targetFramework="net472" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Pdfium.Net.SDK" version="4.100.2704" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>