SELECT u.Email, g.Id_Padre, g.Id_Hijo, p.Nombre FROM Usuarios u INNER JOIN Usuario_Grupos ug ON u.Id = ug.Id_Usuario INNER JOIN Grupos g ON ug.Id_Grupo = g.Id_Padre INNER JOIN Permisos p ON g.Id_Hijo = p.Id WHERE u.Email = 'gonza@gmail.com' OR u.Email LIKE '%admin%';
