USE [master]
GO
/****** Object:  Database [IngenieriaSoftware]    Script Date: 24/07/2025 13:07:44 ******/
CREATE DATABASE [IngenieriaSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngenieriaSoftware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IngenieriaSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngenieriaSoftware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IngenieriaSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngenieriaSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngenieriaSoftware]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Accion] [int] NOT NULL,
	[Usuario] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [nvarchar](255) NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime] NULL,
	[TipoPagoEnum] [int] NULL,
	[ProveedorId] [int] NULL,
	[EstadoCompra] [int] NULL,
	[CotizacionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlSeguridad]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlSeguridad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [nvarchar](50) NOT NULL,
	[Digito] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ControlSeguridad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaCotizacion] [datetime] NULL,
	[ProveedorId] [int] NULL,
	[EstadoCotizacion] [int] NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCotizacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CotizacionId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[Fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[Id_Padre] [int] NOT NULL,
	[Id_Hijo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Usuarios]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Contraseña] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[DigitoVerificador] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Historial_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palabras_Tags]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras_Tags](
	[PalabraId] [int] NOT NULL,
	[Tag] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Palabras_Tags] PRIMARY KEY CLUSTERED 
(
	[PalabraId] ASC,
	[Tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Es_Padre] [bit] NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[CategoriaEnum] [int] NULL,
	[Stock] [decimal](18, 2) NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[PrecioCompra] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[Estado] [bit] NOT NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK__Producto__3214EC07F4DC3D3D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoProveedor](
	[ProductoId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC,
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CUIT] [varchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Direccion] [nvarchar](255) NULL,
	[Mail] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Bitacora]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tipos_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traducciones]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traducciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Idioma] [int] NOT NULL,
	[Id_Palabra] [int] NOT NULL,
	[TraduccionTexto] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[Id_Usuario] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Contraseña] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[DigitoVerificador] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Usuarios__3214EC07EDD8B146] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuarios__A9D1053488B21875] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuarios__A9D10534E5890E01] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Email_Activos]    Script Date: 24/07/2025 13:07:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Email_Activos] ON [dbo].[Usuarios]
(
	[Email] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF__Producto__Fecha__0E04126B]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedor] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([CompraId])
REFERENCES [dbo].[Compra] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK__DetalleCo__Produ__1C5231C2] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK__DetalleCo__Produ__1C5231C2]
GO
ALTER TABLE [dbo].[DetalleCotizacion]  WITH CHECK ADD  CONSTRAINT [FK__DetalleCo__Cotiz__6E565CE8] FOREIGN KEY([CotizacionId])
REFERENCES [dbo].[Cotizacion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleCotizacion] CHECK CONSTRAINT [FK__DetalleCo__Cotiz__6E565CE8]
GO
ALTER TABLE [dbo].[DetalleCotizacion]  WITH CHECK ADD  CONSTRAINT [FK__DetalleCo__Produ__6F4A8121] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[DetalleCotizacion] CHECK CONSTRAINT [FK__DetalleCo__Produ__6F4A8121]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD  CONSTRAINT [FK__ProductoP__Produ__5A4F643B] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[ProductoProveedor] CHECK CONSTRAINT [FK__ProductoP__Produ__5A4F643B]
GO
ALTER TABLE [dbo].[ProductoProveedor]  WITH CHECK ADD FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedor] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Traducciones]  WITH CHECK ADD FOREIGN KEY([Id_Palabra])
REFERENCES [dbo].[Palabras] ([Id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [CK__Compra__EstadoCo__13BCEBC1] CHECK  (([EstadoCompra]>=(0) AND [EstadoCompra]<=(3)))
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [CK__Compra__EstadoCo__13BCEBC1]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD CHECK  (([MontoTotal]>=(0)))
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD CHECK  (([TipoPagoEnum]>=(0) AND [TipoPagoEnum]<=(2)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD CHECK  (([Cantidad]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD CHECK  (([SubTotal]>=(0)))
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK__Producto__Catego__0B27A5C0] CHECK  (([CategoriaEnum]>=(0) AND [CategoriaEnum]<=(3)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK__Producto__Catego__0B27A5C0]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK__Producto__Precio__0C1BC9F9] CHECK  (([PrecioCompra]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK__Producto__Precio__0C1BC9F9]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK__Producto__Precio__0D0FEE32] CHECK  (([PrecioVenta]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK__Producto__Precio__0D0FEE32]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCompra]
    @Id INT,
    @Comentario NVARCHAR(MAX),
    @MontoTotal DECIMAL(18, 2),
    @Fecha DATETIME,
    @TipoPagoEnum INT,
    @ProveedorId INT,
    @EstadoCompra INT,
    @CotizacionId INT 
AS
BEGIN
    UPDATE Compra
    SET Comentario = @Comentario,
        MontoTotal = @MontoTotal,
        Fecha = @Fecha,
        TipoPagoEnum = @TipoPagoEnum,
        ProveedorId = @ProveedorId,
        EstadoCompra = @EstadoCompra,
        CotizacionId = @CotizacionId 
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarCotizacion]
    @Id INT,
    @FechaCotizacion DATE,
    @ProveedorId INT,
    @EstadoCotizacion INT
AS
BEGIN
    UPDATE Cotizacion
    SET FechaCotizacion = @FechaCotizacion,
        ProveedorId = @ProveedorId,
        EstadoCotizacion = @EstadoCotizacion
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ActualizarDetalleCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar DetalleCompra
CREATE PROCEDURE [dbo].[ActualizarDetalleCompra]
    @Id INT,
    @ProductoId INT,
    @Cantidad DECIMAL(18, 2),
    @Precio DECIMAL(18, 2),
    @SubTotal DECIMAL(18, 2),
    @Fecha DATETIME
AS
BEGIN
    UPDATE DetalleCompra
    SET ProductoId = @ProductoId,
        Cantidad = @Cantidad,
        Precio = @Precio,
        SubTotal = @SubTotal,
        Fecha = @Fecha
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDetalleCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para actualizar un registro existente en la tabla DetalleCotizacion
CREATE PROCEDURE [dbo].[ActualizarDetalleCotizacion]
    @Id INT,
    @CotizacionId INT,
    @ProductoId INT,
    @Cantidad DECIMAL(10, 2),
    @Fecha DATE
AS
BEGIN
    UPDATE DetalleCotizacion
    SET CotizacionId = @CotizacionId,
        ProductoId = @ProductoId,
        Cantidad = @Cantidad,
        Fecha = @Fecha
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoCotizacion]
    @Id INT,
    @Estado INT
AS
BEGIN
    UPDATE Cotizacion
    SET EstadoCotizacion = @Estado
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ActualizarProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar un producto existente
CREATE PROCEDURE [dbo].[ActualizarProducto]
    @Id INT,
    @Codigo VARCHAR(50),
    @CategoriaEnum INT,
    @Stock DECIMAL(18, 2),
    @Nombre NVARCHAR(255),
    @Descripcion NVARCHAR(255),
    @PrecioCompra DECIMAL(18, 2),
    @PrecioVenta DECIMAL(18, 2),
    @Estado BIT,
    @Fecha DATETIME = NULL  -- Valor por defecto para Fecha
AS
BEGIN
    IF @Fecha IS NULL
    BEGIN
        SET @Fecha = GETDATE();  -- Establece la fecha actual si no se proporciona
    END

    UPDATE Producto
    SET Codigo = @Codigo,
        CategoriaEnum = @CategoriaEnum,
        Stock = @Stock,
        Nombre = @Nombre,
        Descripcion = @Descripcion,
        PrecioCompra = @PrecioCompra,
        PrecioVenta = @PrecioVenta,
        Estado = @Estado,
        Fecha = @Fecha
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ActualizarProveedor]
    @Id INT,
    @CUIT NVARCHAR(50),
    @Descripcion NVARCHAR(255),
    @Direccion NVARCHAR(255),
    @Mail NVARCHAR(100),
    @Telefono NVARCHAR(50),
    @Estado BIT,
    @FechaRegistro DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el proveedor existe
    IF NOT EXISTS (SELECT 1 FROM Proveedor WHERE Id = @Id)
    BEGIN
        RAISERROR('El proveedor no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el CUIT ya está en uso por otro proveedor
    IF EXISTS (SELECT 1 FROM Proveedor WHERE CUIT = @CUIT AND Id <> @Id)
    BEGIN
        RAISERROR('El CUIT ya está en uso por otro proveedor.', 16, 1);
        RETURN;
    END

    -- Actualizar el proveedor
    UPDATE Proveedor
    SET CUIT = @CUIT,
        Descripcion = @Descripcion,
        Direccion = @Direccion,
        Mail = @Mail,
        Telefono = @Telefono,
        Estado = @Estado,
        FechaRegistro = @FechaRegistro
    WHERE Id = @Id;
END;

GO
/****** Object:  StoredProcedure [dbo].[ActualizarStockProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStockProducto]
    @Id INT,
    @Stock DECIMAL(18, 2)
AS
BEGIN
    UPDATE Producto
    SET Stock = Stock + @Stock
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Asignar_Grupo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Asignar_Grupo]

@Id_Grupo int,
@Id_Usuario int
AS
BEGIN

	SET NOCOUNT ON;

    insert into Usuario_Permiso(Id_Permiso,Id_Usuario) values(@Id_Grupo,@Id_Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Grupo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Borrar_Grupo]

@Id int
AS
BEGIN

	SET NOCOUNT ON;

	delete from Grupos where Id_Padre = @Id
	delete from Permisos where Id = @Id
	delete from Usuario_Permiso where Id_Permiso = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Idioma]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Borrar_Idioma]

@Id int
AS
BEGIN

	SET NOCOUNT ON;

    Delete Traducciones Where Id_Idioma = @Id
	delete from Idiomas where Id= @Id  
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Permiso]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Borrar_Permiso] 

@Id_Padre int,
@Id_Hijo int
AS
BEGIN

	SET NOCOUNT ON;
	if(@Id_Padre = 0)
		delete from Grupos where Id_Padre = @Id_Hijo
	else
		delete from Grupos where Id_Hijo = @Id_Hijo and Id_Padre = @Id_Padre
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Traduccion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Borrar_Traduccion]
@Id_Idioma INT,
@Palabra NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Id_Palabra INT;

    -- Obtener Id de la palabra
    SELECT @Id_Palabra = Id FROM Palabras WHERE Texto = @Palabra;

    -- Borrar la traducción
    DELETE FROM Traducciones
    WHERE Id_Idioma = @Id_Idioma AND Id_Palabra = @Id_Palabra;
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Usuario]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Borrar_Usuario]

@Id int
AS
BEGIN

	SET NOCOUNT ON;

    update Usuarios set Activo = 0 where Id = @Id  
	INSERT INTO Historial_Usuarios 
			(Fecha, Email, Contraseña, Activo, Id_Usuario,DigitoVerificador)  
	SELECT GETDATE(), u.Email, u.Contraseña, u.Activo, @Id,u.DigitoVerificador  
	FROM Usuarios as u WHERE u.Id = @Id;  
END
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Permisos_Asignados]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Buscar_Permisos_Asignados]

@Id_Usuario int
AS
BEGIN

	SET NOCOUNT ON;

	SELECT 
		p.*
	FROM 
		Permisos AS p
	JOIN 
		Usuario_Permiso AS up
		ON p.Id = up.Id_Permiso
	WHERE
		up.Id_Usuario = @Id_Usuario;

END
GO
/****** Object:  StoredProcedure [dbo].[Buscar_Traduccion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Buscar_Traduccion]  
    @Tag VARCHAR(100),  
    @Id_Idioma INT  
AS  
BEGIN  
    SELECT t.TraduccionTexto  
    FROM Traducciones t  
    INNER JOIN Palabras p ON t.Id_Palabra = p.Id  
	INNER JOIN Palabras_Tags pt ON pt.PalabraId = p.Id
    WHERE pt.Tag = @Tag AND t.Id_Idioma = @Id_Idioma  
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarProductos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarProductos]
    @Categoria INT = NULL,
    @Nombre NVARCHAR(50) = NULL,
    @Estado BIT = NULL
AS
BEGIN
    SELECT *
    FROM Producto
    WHERE (@Categoria IS NULL OR CategoriaEnum = @Categoria)
      AND (@Nombre IS NULL OR Nombre LIKE '%' + @Nombre + '%')
      AND (@Estado IS NULL OR Estado = @Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoCompra]
    @CompraId INT,
    @NuevoEstado INT
AS
BEGIN
    UPDATE Compra
    SET EstadoCompra = @NuevoEstado
    WHERE Id = @CompraId;
END;
GO
/****** Object:  StoredProcedure [dbo].[DesAsignar_Grupo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DesAsignar_Grupo]

@Id_Grupo int,
@Id_Usuario int

AS
BEGIN
	
	SET NOCOUNT ON;

    delete from Usuario_Permiso where Id_Permiso = @Id_Grupo and Id_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar la Compra
CREATE PROCEDURE [dbo].[EliminarCompra]
    @Id INT
AS
BEGIN
    DELETE FROM Compra
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EliminarCotizacion]
    @Id INT
AS
BEGIN
    DELETE FROM Cotizacion
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[EliminarDetalleCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar DetalleCompra
CREATE PROCEDURE [dbo].[EliminarDetalleCompra]
    @Id INT
AS
BEGIN
    DELETE FROM DetalleCompra
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarDetalleCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para eliminar un registro en la tabla DetalleCotizacion
CREATE PROCEDURE [dbo].[EliminarDetalleCotizacion]
    @Id INT
AS
BEGIN
    DELETE FROM DetalleCotizacion
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para eliminar un producto
CREATE PROCEDURE [dbo].[EliminarProducto]
    @Id INT
AS
BEGIN
    UPDATE Producto
    SET Estado = 0 
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProductoProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para desasociar un producto de un proveedor
CREATE PROCEDURE [dbo].[EliminarProductoProveedor]
    @ProductoId INT,
    @ProveedorId INT
AS
BEGIN
    DELETE FROM ProductoProveedor
    WHERE ProductoId = @ProductoId AND ProveedorId = @ProveedorId;
END

GO
/****** Object:  StoredProcedure [dbo].[EliminarProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarProveedor]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el proveedor tiene relaciones con otras tablas
    IF EXISTS (SELECT 1 FROM Compra WHERE ProveedorId = @Id)
    BEGIN
        RAISERROR('No se puede eliminar el proveedor porque tiene compras asociadas.', 16, 1);
        RETURN;
    END

    -- Baja lógica: Cambia el estado del proveedor a 0 (inactivo)
    UPDATE Proveedor
    SET Estado = 0
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarReferenciaCotizacionEnCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[EliminarReferenciaCotizacionEnCompra]
    @CompraId INT
AS
BEGIN
    UPDATE Compra
    SET CotizacionId = NULL
    WHERE Id = @CompraId;
END
GO
/****** Object:  StoredProcedure [dbo].[ExisteCodigoProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExisteCodigoProducto]
    @Codigo VARCHAR(50) 
AS
BEGIN
    SELECT COUNT(*) 
    FROM Producto
    WHERE Codigo = @Codigo;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarXFecha]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarXFecha]

@Desde date,
@Hasta date

AS
BEGIN

	SET NOCOUNT ON;

    select b.*, u.Id,u.Email from Bitacora b 
	join Usuarios u ON b.Usuario = u.Id 
	where b.Fecha <= @Hasta AND b.Fecha >= @Desde
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarXFechaYTipo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarXFechaYTipo]

@Desde date,
@Hasta date,
@Tipo int
AS
BEGIN
	SET NOCOUNT ON;
	if @Tipo = 6
		select b.*, u.Id ,u.Email from Bitacora b 
		join Usuarios u ON b.Usuario = u.Id 
		where b.Fecha <= @Hasta AND b.Fecha >= @Desde
	else
		select b.*, u.Id ,u.Email from Bitacora b 
		join Usuarios u ON b.Usuario = u.Id 
		where b.Fecha <= @Hasta AND b.Fecha >= @Desde
		AND b.Accion = @Tipo
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarXFechaYUsuario]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarXFechaYUsuario]

@Desde date,
@Hasta date,
@Usuario int
AS
BEGIN

	SET NOCOUNT ON;

	select * from Bitacora where 
	Fecha <= @Hasta AND Fecha >= @Desde AND Usuario = @Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarXTipo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarXTipo]

@Accion int
AS
BEGIN
	
	SET NOCOUNT ON;

    select b.*, u.Email, u.Id from Bitacora b 
	join Usuarios u ON b.Usuario = u.Id 
	where b.Accion = @Accion
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarXUsuario]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarXUsuario]

@Usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select * from Bitacora where Usuario = @Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Bitacora]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Bitacora]
    
@Fecha DATE,
@Accion INT,
@Email NVARCHAR(100), 
@Descripcion NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Usuario INT;
    SELECT @Usuario = Id FROM Usuarios WHERE Email = @Email;

    INSERT INTO Bitacora (Fecha, Accion, Usuario, Descripcion) VALUES (@Fecha, @Accion, @Usuario, @Descripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_DigitoVertical]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Guardar_DigitoVertical]

@Tabla nvarchar(max)='Usuarios',
@DVV nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;


    IF EXISTS (SELECT 1 FROM ControlSeguridad WHERE Tabla = 'Usuarios')
    BEGIN
        -- Si existe, actualizar la fila
        UPDATE ControlSeguridad
        SET Digito = @DVV
        WHERE Tabla = @Tabla;
    END
    ELSE
    BEGIN
        -- Si no existe, insertar una nueva fila
        INSERT INTO ControlSeguridad (Tabla, Digito)
        VALUES (@Tabla, @DVV);
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[Guardar_Grupo]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Grupo]

@Nombre nvarchar(100)
AS
BEGIN

	SET NOCOUNT ON;

   insert  into Permisos(Nombre,Es_Padre) values(@Nombre,1)
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Idioma]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Idioma]
@Id int = 0,
@Nombre NVARCHAR(100)

AS
BEGIN

	SET NOCOUNT ON;

    if(@Id = 0)
		INSERT INTO Idiomas (Nombre) VALUES (@Nombre);
	else
		UPDATE Idiomas SET Nombre = @Nombre
		WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Palabra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Palabra]
@Id INT = 0,
@Texto NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;
	if(@Id = 0)
		 INSERT INTO Palabras (Texto) VALUES (@Texto);
	else
		UPDATE Palabras SET Texto = @Texto
		WHERE Id = @Id;

END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Permiso]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Permiso] 

@Id_Padre int,
@Id_Hijo int
AS
BEGIN

	SET NOCOUNT ON;

	insert into Grupos(Id_Hijo,Id_Padre) values(@Id_Hijo,@Id_Padre)
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Traduccion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Traduccion]
@Id INT = 0,
@Id_Idioma INT,
@Palabra NVARCHAR(100),
@TraduccionTexto NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Id_Palabra INT;

    -- Verifica si la palabra ya existe, si no, la inserta y obtiene el Id
    SELECT @Id_Palabra = Id FROM Palabras WHERE Texto = @Palabra;
    IF @Id_Palabra IS NULL
    BEGIN
        INSERT INTO Palabras (Texto) VALUES (@Palabra);
        SET @Id_Palabra = SCOPE_IDENTITY();
    END

    -- Inserta o actualiza la traducción
    IF @Id = 0
    BEGIN
        INSERT INTO Traducciones (Id_Idioma, Id_Palabra, TraduccionTexto)
        VALUES (@Id_Idioma, @Id_Palabra, @TraduccionTexto);
    END
    ELSE
    BEGIN
        UPDATE Traducciones
        SET TraduccionTexto = @TraduccionTexto
        WHERE Id = @Id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Usuario]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Guardar_Usuario]

@Id int = 0,
@Email nvarchar(50),
@Contraseña nvarchar(MAX),
@DV nvarchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    if(@Id = 0)
	Begin
		insert into Usuarios(Email,Contraseña,Activo,DigitoVerificador) values(@Email,@Contraseña,1,@DV)

		INSERT INTO Historial_Usuarios (Fecha, Email, Contraseña, Activo, Id_Usuario,DigitoVerificador)
		SELECT GETDATE(), @Email, @Contraseña, u.Activo, u.Id, @DV
		FROM Usuarios as u WHERE u.Email = @Email;
	End
	else
		update Usuarios SET Email = @Email, Contraseña = @Contraseña, DigitoVerificador = @DV where Id =@Id

		INSERT INTO Historial_Usuarios (Fecha, Email, Contraseña, Activo, Id_Usuario,DigitoVerificador)
		SELECT GETDATE(), @Email, @Contraseña, u.Activo, @Id, @DV
		FROM Usuarios as u WHERE u.Id = @Id;
		
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCompra]
    @Comentario NVARCHAR(MAX),
    @MontoTotal DECIMAL(18, 2),
    @Fecha DATETIME,
    @TipoPagoEnum INT,
    @ProveedorId INT,
    @EstadoCompra INT,
    @CotizacionId INT 
AS
BEGIN
    DECLARE @CompraId INT;

    INSERT INTO Compra (Comentario, MontoTotal, Fecha, TipoPagoEnum, ProveedorId, EstadoCompra, CotizacionId)
    VALUES (@Comentario, @MontoTotal, @Fecha, @TipoPagoEnum, @ProveedorId, @EstadoCompra, @CotizacionId);

    SET @CompraId = SCOPE_IDENTITY(); 

    SELECT @CompraId AS CompraId; 
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCotizacion]
    @FechaCotizacion DATE,
    @ProveedorId INT,
    @EstadoCotizacion INT
AS
BEGIN
    INSERT INTO Cotizacion (FechaCotizacion, ProveedorId, EstadoCotizacion)
    VALUES (@FechaCotizacion, @ProveedorId, @EstadoCotizacion);

    SELECT SCOPE_IDENTITY() AS Id; -- Devuelve el ID de la cotización insertada
END

GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalleCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insertar DetalleCompra
CREATE PROCEDURE [dbo].[InsertarDetalleCompra]
    @ProductoId INT,
    @Cantidad DECIMAL(18, 2),
    @CompraId INT,
    @Precio DECIMAL(18, 2),
    @SubTotal DECIMAL(18, 2),
    @Fecha DATETIME
AS
BEGIN
    INSERT INTO DetalleCompra (ProductoId, Cantidad, CompraId, Precio, SubTotal, Fecha)
    VALUES (@ProductoId, @Cantidad, @CompraId, @Precio, @SubTotal, @Fecha);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalleCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para insertar un nuevo registro en la tabla DetalleCotizacion
CREATE PROCEDURE [dbo].[InsertarDetalleCotizacion]
    @CotizacionId INT,
    @ProductoId INT,
    @Cantidad DECIMAL(10, 2),
    @Fecha DATE
AS
BEGIN
    INSERT INTO DetalleCotizacion (CotizacionId, ProductoId, Cantidad, Fecha)
    VALUES (@CotizacionId, @ProductoId, @Cantidad, @Fecha);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para insertar un nuevo producto
CREATE PROCEDURE [dbo].[InsertarProducto]
    @Codigo NVARCHAR(50),
    @CategoriaEnum INT,
    @Stock DECIMAL(18, 2) = NULL,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255),
    @PrecioCompra DECIMAL(18, 2),
    @PrecioVenta DECIMAL(18, 2) = NULL,
    @Estado BIT,
    @Fecha DATETIME = NULL 
AS
BEGIN
    IF @Fecha IS NULL
    BEGIN
        SET @Fecha = GETDATE();  -- Establece la fecha actual si no se proporciona
    END

    INSERT INTO Producto (Codigo, CategoriaEnum, Stock, Nombre, Descripcion, PrecioCompra, PrecioVenta, Estado, Fecha)
    OUTPUT INSERTED.Id 
    VALUES (@Codigo, @CategoriaEnum, @Stock, @Nombre, @Descripcion, @PrecioCompra, @PrecioVenta, @Estado, @Fecha);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProductoProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para asociar un producto a un proveedor
CREATE PROCEDURE [dbo].[InsertarProductoProveedor]
    @ProductoId INT,
    @ProveedorId INT
AS
BEGIN
    INSERT INTO ProductoProveedor (ProductoId, ProveedorId)
    VALUES (@ProductoId, @ProveedorId);
END

GO
/****** Object:  StoredProcedure [dbo].[InsertarProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarProveedor]
    @CUIT NVARCHAR(50),
    @Descripcion NVARCHAR(255),
    @Direccion NVARCHAR(255),
    @Mail NVARCHAR(100),
    @Telefono NVARCHAR(50),
    @Estado BIT,
    @FechaRegistro DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el CUIT ya existe
    IF EXISTS (SELECT 1 FROM Proveedor WHERE CUIT = @CUIT)
    BEGIN
        RAISERROR('El CUIT ya existe.', 16, 1);
        RETURN;
    END

    -- Insertar el nuevo proveedor
    INSERT INTO Proveedor (CUIT, Descripcion, Direccion, Mail, Telefono, Estado, FechaRegistro)
    OUTPUT INSERTED.Id
    VALUES (@CUIT, @Descripcion, @Direccion, @Mail, @Telefono, @Estado, @FechaRegistro);
END;
GO
/****** Object:  StoredProcedure [dbo].[Leer_Historia]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Leer_Historia]

@Id_Usuario int
AS
BEGIN

	SET NOCOUNT ON;

    select h.Id,h.Email, h.Fecha, h.Activo, h.DigitoVerificador from Historial_Usuarios as h where Id_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[Leer_Usuarios]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Leer_Usuarios]


AS
BEGIN

	SET NOCOUNT ON;

    select * from Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[Leer_Usuarios_Activos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Leer_Usuarios_Activos]

AS
BEGIN

	SET NOCOUNT ON;

    select * from Usuarios where Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Listar_Bitacoras]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Listar_Bitacoras]

AS
BEGIN
	
	SET NOCOUNT ON;

    select b.*, u.Email from Bitacora b join Usuarios u ON b.Usuario = u.Id
END
GO
/****** Object:  StoredProcedure [dbo].[Listar_Grupos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Listar_Grupos]

AS
BEGIN

	SET NOCOUNT ON;

    SELECT 
    pPadre.Id AS Id_Padre,
    pPadre.Nombre AS Nombre_Padre,
    pPadre.Es_Padre AS Es_Padre_Padre,
    pHijo.Id AS Id_Hijo,
    pHijo.Nombre AS Nombre_Hijo,
    pHijo.Es_Padre AS Es_Padre_Hijo
FROM 
    Grupos g
JOIN 
    Permisos pPadre ON g.Id_Padre = pPadre.Id
JOIN 
    Permisos pHijo ON g.Id_Hijo = pHijo.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Listar_Permisos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Listar_Permisos]

AS
BEGIN

	SET NOCOUNT ON;

    select * from Permisos
END
GO
/****** Object:  StoredProcedure [dbo].[Listar_Todos_Idiomas]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Listar_Todos_Idiomas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Nombre
    FROM Idiomas;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarControlSeguridad]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ListarControlSeguridad]

@Tabla nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;
	select * from ControlSeguridad where Tabla = @Tabla

END
GO
/****** Object:  StoredProcedure [dbo].[ListarPalabrasSinTraduccion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarPalabrasSinTraduccion]  
@Id_Idioma int  
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    SELECT *  
    FROM Palabras P  
 Where not exists ( Select *  
      From Traducciones T  
      Where Id_Idioma = @Id_Idioma  
      And T.Id_Palabra = P.Id  
      )  
  
 SET NOCOUNT OFF;    
  
END 
GO
/****** Object:  StoredProcedure [dbo].[ListarTraduccionesPorIdioma]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarTraduccionesPorIdioma]
@Id_Idioma INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT t.Id, t.Id_Idioma, p.Texto AS Palabra, t.TraduccionTexto
    FROM Traducciones t
    INNER JOIN Palabras p ON t.Id_Palabra = p.Id
    WHERE t.Id_Idioma = @Id_Idioma;
END
GO
/****** Object:  StoredProcedure [dbo].[LogIn]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LogIn]

@Email nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT Id, Email, Contraseña, DigitoVerificador FROM Usuarios WHERE Email = @Email AND Activo = 1

	END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCategoriasPorProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Obtener categorais de segun los productos de un proveedor 

CREATE PROCEDURE [dbo].[ObtenerCategoriasPorProveedor]
    @ProveedorId INT
AS
BEGIN
    SELECT DISTINCT 
        CASE 
            WHEN p.CategoriaEnum = 0 THEN 'Quesos'
            WHEN p.CategoriaEnum = 1 THEN 'Fiambres'
            WHEN p.CategoriaEnum = 2 THEN 'Almacen'
            WHEN p.CategoriaEnum = 3 THEN 'Conservas'
            ELSE 'Desconocido'
        END AS Categoria
    FROM ProductoProveedor pp
    JOIN Producto p ON pp.ProductoId = p.Id
    WHERE pp.ProveedorId = @ProveedorId
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCompraPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener Compra por Id
CREATE PROCEDURE [dbo].[ObtenerCompraPorId]
    @Id INT
AS
BEGIN
    SELECT 
        c.Id, 
        c.Comentario,       
        c.MontoTotal,     
        c.Fecha, 
        c.TipoPagoEnum,     
        c.ProveedorId, 
		c.CotizacionId, 
        c.EstadoCompra, 
        p.Id AS ProveedorId, 
        p.CUIT, 
        p.Descripcion, 
        p.Direccion, 
        p.Mail, 
        p.Telefono, 
        p.Estado, 
        p.FechaRegistro
    FROM Compra c
    INNER JOIN Proveedor p ON c.ProveedorId = p.Id
    WHERE c.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerComprasPorProveedorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener Compras por proveedor Id
CREATE PROCEDURE [dbo].[ObtenerComprasPorProveedorId]
    @ProveedorId INT
AS
BEGIN
    SELECT *
    FROM Compra
    WHERE ProveedorId = @ProveedorId;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCotizacionesPorEstado]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCotizacionesPorEstado]
    @EstadoCotizacion INT
AS
BEGIN
    SELECT Id, FechaCotizacion, ProveedorId, EstadoCotizacion
    FROM Cotizacion
    WHERE EstadoCotizacion = @EstadoCotizacion
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCotizacionesPorEstados]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerCotizacionesPorEstados]
    @Estados NVARCHAR(MAX)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX)
    SET @sql = 'SELECT Id, FechaCotizacion, ProveedorId, EstadoCotizacion FROM Cotizacion WHERE EstadoCotizacion IN (' + @Estados + ')'
    EXEC sp_executesql @sql
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCotizacionesPorFecha]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCotizacionesPorFecha]
    @FechaDesde DATETIME,
    @FechaHasta DATETIME
AS
BEGIN
    SELECT Id, FechaCotizacion, ProveedorId, EstadoCotizacion
    FROM Cotizacion
    WHERE FechaCotizacion BETWEEN @FechaDesde AND @FechaHasta
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCotizacionPorEstado]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerCotizacionPorEstado]
    @EstadoCotizacion INT
AS
BEGIN
    SELECT c.Id, c.FechaCotizacion, c.ProveedorId, c.EstadoCotizacion
    FROM Cotizacion AS c
    WHERE c.EstadoCotizacion = @EstadoCotizacion;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerCotizacionPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerCotizacionPorId]
    @Id INT
AS
BEGIN
    SELECT Id, FechaCotizacion, ProveedorId, EstadoCotizacion
    FROM Cotizacion
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetalleCompraPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener DetalleCompra por Id
CREATE PROCEDURE [dbo].[ObtenerDetalleCompraPorId]
    @Id INT
AS
BEGIN
    SELECT Id, CompraId, ProductoId, Precio, Cantidad, SubTotal, Fecha
    FROM DetalleCompra
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetalleCotizacionPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener un detalle de cotización específico por su ID
CREATE PROCEDURE [dbo].[ObtenerDetalleCotizacionPorId]
    @Id INT
AS
BEGIN
    SELECT Id, CotizacionId, ProductoId, Cantidad, Fecha
    FROM DetalleCotizacion
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetallesCompraPorCompraId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener DetallesCompra por CompraId
CREATE PROCEDURE [dbo].[ObtenerDetallesCompraPorCompraId]
    @CompraId INT
AS
BEGIN
    SELECT Id, CompraId, ProductoId, Precio, Cantidad, SubTotal, Fecha
    FROM DetalleCompra
    WHERE CompraId = @CompraId;
END
GO

/****** Object:  StoredProcedure [dbo].[ObtenerDetallesCotizacionPorCotizacionId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener todos los detalles asociados a una cotización específica
CREATE PROCEDURE [dbo].[ObtenerDetallesCotizacionPorCotizacionId]
    @CotizacionId INT
AS
BEGIN
    SELECT Id, CotizacionId, ProductoId, Cantidad, Fecha
    FROM DetalleCotizacion
    WHERE CotizacionId = @CotizacionId;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPalabra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerPalabra]
@Id_Palabra INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Texto FROM Palabras WHERE Id = @Id_Palabra;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosRecursivos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosRecursivos]
    @IdPermisoPadre INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH PermisosRecursivos AS (
        SELECT g.Id_Padre, g.Id_Hijo
        FROM Grupos g
        WHERE g.Id_Padre = @IdPermisoPadre
        UNION ALL
        SELECT g2.Id_Padre, g2.Id_Hijo
        FROM Grupos g2
        INNER JOIN PermisosRecursivos pr ON pr.Id_Hijo = g2.Id_Padre
    )
    SELECT 
        pr.Id_Padre, 
        pr.Id_Hijo, 
        p.Id, 
        p.Nombre, 
        p.Es_Padre
    FROM PermisosRecursivos pr
    INNER JOIN Permisos p ON pr.Id_Hijo = p.Id
    ORDER BY p.Nombre; 
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductoPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener un producto por ID
CREATE PROCEDURE [dbo].[ObtenerProductoPorId]
    @Id INT
AS
BEGIN
    SELECT * FROM Producto WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosInactivos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProductosInactivos]
AS
BEGIN
    SELECT *
    FROM Producto
    WHERE Estado = 0; 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosPorCategoria]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Para obtener los productos segun una categoria dada.

CREATE PROCEDURE [dbo].[ObtenerProductosPorCategoria]
    @Categoria INT
AS
BEGIN
    SELECT * FROM Producto
    WHERE CategoriaEnum = @Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosPorProveedorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener todos los productos asociados a un proveedor
CREATE PROCEDURE [dbo].[ObtenerProductosPorProveedorId]
    @ProveedorId INT
AS
BEGIN
    SELECT p.*
    FROM Producto p
    INNER JOIN ProductoProveedor pp ON p.Id = pp.ProductoId
    WHERE pp.ProveedorId = @ProveedorId;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosProveedorPorCategoria]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Obtener los productos de un proveedor segun la categoria seleccionada.
CREATE PROCEDURE [dbo].[ObtenerProductosProveedorPorCategoria]
    @ProveedorId INT,
    @Categoria INT
AS
BEGIN
    SELECT p.*
    FROM Producto p
    INNER JOIN ProductoProveedor pp ON p.Id = pp.ProductoId
    WHERE pp.ProveedorId = @ProveedorId AND p.CategoriaEnum = @Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedoresInactivos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProveedoresInactivos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id, CUIT, Descripcion, Direccion, Mail, Telefono, Estado, FechaRegistro
    FROM 
        Proveedor
    WHERE 
        Estado = 0; 
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedoresPorCategoriaProducto]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---ObtenerProveedor segun categoria producto

CREATE PROCEDURE [dbo].[ObtenerProveedoresPorCategoriaProducto]
    @Categoria INT
AS
BEGIN
    SELECT DISTINCT prov.*
    FROM Proveedor prov
    INNER JOIN ProductoProveedor pp ON prov.Id = pp.ProveedorId
    INNER JOIN Producto p ON pp.ProductoId = p.Id
    WHERE p.CategoriaEnum = @Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedorPorId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerProveedorPorId]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el proveedor existe
    IF NOT EXISTS (SELECT 1 FROM Proveedor WHERE Id = @Id)
    BEGIN
        RAISERROR('El proveedor no existe.', 16, 1);
        RETURN;
    END

    -- Obtener el proveedor
    SELECT Id, CUIT, Descripcion, Direccion, Mail, Telefono, Estado, FechaRegistro
    FROM Proveedor
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedorPorProductoId]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener el proveedor asociado a un producto
CREATE PROCEDURE [dbo].[ObtenerProveedorPorProductoId]
    @ProductoId INT
AS
BEGIN
    SELECT ProveedorId
    FROM ProductoProveedor
    WHERE ProductoId = @ProductoId;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasCompras]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener Todas Las Compras
CREATE PROCEDURE [dbo].[ObtenerTodasLasCompras]
AS
BEGIN
    SELECT 
        c.*, 
        p.Id AS ProveedorId, 
        p.Descripcion, 
        p.Direccion, 
        p.Mail, 
        p.Telefono, 
        p.Estado, 
        p.FechaRegistro
    FROM Compra AS c
    LEFT JOIN Proveedor AS p ON c.ProveedorId = p.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasCotizaciones]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodasLasCotizaciones]
AS
BEGIN
    SELECT Id, FechaCotizacion, ProveedorId, EstadoCotizacion
    FROM Cotizacion;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosDetallesCompra]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener Todos los DetallesCompra
CREATE PROCEDURE [dbo].[ObtenerTodosDetallesCompra]
AS
BEGIN
    SELECT Id, CompraId, ProductoId, Precio, Cantidad, SubTotal, Fecha
    FROM DetalleCompra;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosDetallesCotizacion]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para obtener todos los registros de la tabla DetalleCotizacion
CREATE PROCEDURE [dbo].[ObtenerTodosDetallesCotizacion]
AS
BEGIN
    SELECT Id, CotizacionId, ProductoId, Cantidad, Fecha
    FROM DetalleCotizacion;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosProveedores]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ObtenerTodosLosProveedores]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, CUIT, Descripcion, Direccion, Mail, Telefono, Estado, FechaRegistro
    FROM Proveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosProductos]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener todos los productos
CREATE PROCEDURE [dbo].[ObtenerTodosProductos]
AS
BEGIN
    SELECT * FROM Producto;
END
GO
/****** Object:  StoredProcedure [dbo].[ReactivarProveedor]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReactivarProveedor]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Proveedor
    SET Estado = 1
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Recuperar]    Script Date: 24/07/2025 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Recuperar]

@Id int
AS
BEGIN

	SET NOCOUNT ON;
	UPDATE Usuarios
            SET 
                Email = h.Email,
                Contraseña = h.Contraseña,
                Activo = h.Activo,
				DigitoVerificador = h.DigitoVerificador
            FROM 
                Historial_Usuarios h
            WHERE 
                h.Id = @Id
                AND Usuarios.Id = h.Id_Usuario;

	INSERT INTO Historial_Usuarios (Fecha, Email, Contraseña, Activo, Id_Usuario,DigitoVerificador)
		SELECT GETDATE(), u.Email, u.Contraseña, u.Activo, u.Id, u.DigitoVerificador
		FROM Historial_Usuarios as h, Usuarios as u WHERE h.Id = @Id and u.Id = h.Id_Usuario;
END
GO
USE [master]
GO
